@model InvoicingWebApp.Models.InvoiceViewModel

@{
    ViewData["Title"] = "Invoices";
}

<style type="text/css">
    #status[data-status="Stale"] {
        color: orangered;
    }
    #status[data-status="Error"] {
        color: red;
    }
    #status[data-status="Updated"] {
        color: green;
    }

</style>
<h1>Invoices</h1>
<h3 id="status" data-status="@Html.DisplayFor(model => model.Status.Status)">@Html.DisplayFor(model => model.Status.Status)</h3>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Invoices.SingleOrDefault().Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invoices.SingleOrDefault().Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invoices.SingleOrDefault().Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invoices.SingleOrDefault().Deleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invoices.SingleOrDefault().PartitionKey)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Invoices)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Deleted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PartitionKey)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
